// Import font fron Google Fonts
@import "../fonts/Khand/Khand-Regular.ttf";
@import '../fonts/PlayfairDisplay/static/PlayfairDisplay-Regular.ttf';

// Colors

$color1: #00AEAD;
$color2: #019875;
$color3: #72CC50;
$color4: #BFD834;

/* $color5: #A4E2A0;
$color6: #8ACE90;
$color7: #478C76;
$color8: #254B44;
$color9: #A6795E;
$color10: #8d8d8d; */

// Mumble Jungle
//https://www.schemecolor.com/mumble-jungle.php#download
/* $color5: #115F37;
$color6: #478749;
$color7: #8B987D;
$color8: #736350;
$color9: #544F3D;
$color11: #443614;
$color10: #8d8d8d; */

// Beautiful Waterfalls
// https://www.schemecolor.com/beautiful-waterfalls.php
$color5: #226617;
$color6: #73840F;
$color7: #B4C059;
$color8: #00adcf;
$color9: #F0F8F9;
$color10: #949494;
$color11: black;

/* $color10: #6F9580;
$color11: #95AA63;
$color12: #8FCAB4;
$color13: #E4E4DC; */

// Font sizes
$small-font-size: 8px;
$regular-font-size: 16px;
$h5-font-size: 24px;
$h4-font-size: 32px;
$h3-font-size: 48px; 
$h2-font-size: 64px; 
$h1-font-size: 95px; 

$hdr-font-family: 'Khand', sans-serif;
$par-font-family: 'PlayfairDisplay';