{{ define "main-content" }}
  <!-- The Root div where all the content of this page will be placed-->
  <div class="root-grid-container">
    
    <!-- Main Menu -->
    <div class="site-nav">

      <nav class="main">
        <!-- Make the links into a list -->
        <dl>
          {{ range sort .Site.Menus.main "Weight" }}
            <dt>

              <a class="item" href="#{{.Weight }}"> {{.Name}} </a>
            
            </dt>
          {{ end }}
        </dl>
      </nav>

    </div>

    <!-- Main Content -->
    <div class="main-content">

      {{ range .RegularPages}}  
        {{ .Content }}
      {{ end }}  
    </div>
  </div> 
{{end}}
