{{ define "main-content" }}
  <!-- The Root div where all the content of this page will be placed-->
  <div class="root-grid-container">
    
    <!-- Main Menu -->
    <div class="site-nav">

      <nav class="main"></nav>
        <!-- Make the links into a list -->
        <dl>
          {{ range .Site.Menus.main }}
            <dt>
              <a class="item" href="{{.URL}}">{{.Name}} </a>
            </dt>
          {{ end }}
        </dl>
      </nav>

    </div>

    <!-- Content -->
    <div class="main-content">

    </div>
  </div> 
{{end}}
