.shortcard
{
    display: grid;
    grid-template-columns: repeat (3, minmax(0, max-content));
    //grid-template-rows: repeat(2, auto);
    grid-template-areas:
        "hrd hrd hrd"
        "lft cntr rght";
    column-gap: 10px;
    align-content: start;
    justify-content: start;

    .shortcard-title
    {
        grid-area: hrd;
    }
    
    .shortcard-left
    {
        grid-area: lft;
    }

    .shortcard-main
    {
       grid-area: cntr;
    }

    .shortcard-right
    {
        grid-area: rght;
    }
}