
// Main content on list page template
.main-content
{
    background-color: white;

    section.home-content
    {
        border: 
        {
            style: solid none none none;
            width: thin;
        }
    }
    section.first
    {
        style: none none solid none;
        width: thin;
    }
}

// Main navigation styling
.root-grid-container
{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 100%;
    align-content: stretch;
}
