@import '../navbar';

// Main content on list page template
.list-main-content
{
    // Used to offset main content to the left away from menu
    margin-left: $sideBarWidth;
    padding: 0px 10px;

    section.home-content
    {
      border: 
      {
        style: solid none none none;
        width: thin;
      }
    }
}

