@import '../sitewide';

.single-main-content
{
    @include maincontent;
    
    .top-navtrail
    {
        background: cadetblue;
        
        a
        {
            text-decoration: none;

            &:hover
            {
                color: blueviolet;
                text-decoration: underline;
            }
        }
    }
}
