@import '../sitewide';

.main-container
{
    // Consider coming back and using a flexbox later.
    position: relative;
}

.top-navtrail
{
    background: cadetblue;
    position: absolute;
    left: $sideBarWidth - 8; // maybe adjust sideBarWidth
    top: 0;
    width: 100%;
    height: 48px;
    padding-left: 5px;
    margin-top: -8px;

    overflow-x: hidden;
    z-index: 1;
    
    // Links on this nav trail
    .link-trail
    {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    a
    {
      text-decoration: none;

      &:hover
      {
          color: blueviolet;
          text-decoration: underline;
      }
    }
}

.content
{
    @include maincontent;
    position: absolute;

    margin-top: 48px;
}