
<!-- Container to hold a brief amount of content for display. Allows for left 
    hand margin content as well. -->
<div class="shortcard">
   
   <!-- Title Row -->
   <div class="shortcard-title">
    
   </div> 


   <!-- Right Content -->   
    {{ with .Get "lftMrgnCnt" }} 
      <div class="shortcard-left">
        {{.}} 
      </div>
    {{ end }}
   

    <!-- If no left content was passed then class the main content div so that 
         the content is put in the center cell. Otherwise put content in the 
         left hand cell. -->
    {{ if .Get "lftMrgnCnt" }}
      <div class="shortcard-main">
    {{ else }}
      <div class="shortcard-left">
    {{ end }}
      <h2>
        {{ with .Get "title" }} {{.}} {{ end }}
      </h2>
      <h3> 
        {{ with .Get "subTitle" }} {{.}} {{ end }}
      </h3>
        <!-- Main content -->
         <p> {{ .Inner }} </p> 

        <!-- Add link if ref was passed-->
        {{ $link := .Get "detailsLink" | safeURL }}
        {{ if $link }}        
          
        </br><a href = "{{ $link }}" > Read On... </a></br></br>

        {{ end }}
    </div>
  
    <!-- Left hand margin content -->
   <div class="shortcard-right">

      {{with .Get "rghtMrgnCnt" }} <p> {{.}} </p> {{ end }} 
    
    </div>
  
</div>