
<!-- Container to hold a brief amount of content for display. Allows for left 
    hand margin content as well. -->
 <div class="shortcard">
    <!-- Title Row -->
   <div class="shortcard-title">
     <h2>
       {{with .Get "title"}} {{.}} {{ end }}
     </h2>
   </div> 

   <!-- Right Content -->
   <div class="shortcard-left">
    {{ with .Get "lftMrgnCnt" }} {{.}} {{ end }}
   </div>

    <!-- Main content cell -->
    <div class="shortcard-main">
    
        {{with .Get "subTitle"}} 
          <h3> {{.}} </h3>
        {{ end }}
        
        <!-- Main content -->
         <p> {{ .Inner }} </p> 

        <!-- Add link if ref passed-->
        {{ $link := .Get "detailsLink" | safeURL }}
        {{ if $link }}        
          
        </br><a href = "{{ $link }}" > Read On... </a></br></br>

        {{ end }}
    </div>

    <!-- Left hand margin content -->
   <div class="shortcard-right">

      {{with .Get "rghtMrgnCnt" }} <p> {{.}} </p> {{ end }} 
    
    </div>
</div>